@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.projects__container {
  background-color: #021d44;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 20rem;
}

.projects__container .projects__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 70px;
}

.projects__container .projects__header .ph__title {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 5vw;
  letter-spacing: 0.4vw;
  margin: auto;
}

.projects__container .project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
  height: 350px;
  border: 1px solid #ff3e55;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.projects__container .project__container .project__1__img {
  position: absolute;
  top: 12px;
  left: -24px;
  width: 570px;
  height: 320px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.projects__container .project__container .project__1__img .pr__image {
  height: 100%;
}

.projects__container .project__container .project__description__1 {
  width: 500px;
  height: 300px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  position: absolute;
  right: -24px;
  top: 60px;
}

.projects__container .project__container .project__description__1 .pd__title {
  margin-left: 24px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__description__1 .pd__description {
  margin: 24px;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.projects__container .project__container .project__description__1 .pd__icons {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__container .project__container .project__description__1 .pd__icons .pd__icon {
  font-size: 24px;
  color: #ff3e55;
}

.projects__container .project__container .project__description__1 .pd__techniques {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container .project__container .project__description__1 .pd__techniques .pd__techniqe {
  margin: auto 12px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__2__img {
  position: absolute;
  top: 12px;
  left: -24px;
  width: 570px;
  height: 320px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.projects__container .project__container .project__description__2 {
  width: 500px;
  height: 300px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  position: absolute;
  right: -24px;
  top: 60px;
}

.projects__container .project__container .project__description__2 .pd__title {
  margin-left: 24px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__description__2 .pd__description {
  margin: 24px;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.projects__container .project__container .project__description__2 .pd__icons {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__container .project__container .project__description__2 .pd__icons .pd__icon {
  font-size: 24px;
  color: #ff3e55;
}

.projects__container .project__container .project__description__2 .pd__techniques {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container .project__container .project__description__2 .pd__techniques .pd__techniqe {
  margin: auto 12px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__3__img {
  position: absolute;
  top: 12px;
  left: -24px;
  width: 570px;
  height: 320px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.projects__container .project__container .project__description__3 {
  width: 500px;
  height: 300px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  position: absolute;
  right: -24px;
  top: 60px;
}

.projects__container .project__container .project__description__3 .pd__title {
  margin-left: 24px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__description__3 .pd__description {
  margin: 24px;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.projects__container .project__container .project__description__3 .pd__icons {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__container .project__container .project__description__3 .pd__icons .pd__icon {
  font-size: 24px;
  color: #ff3e55;
}

.projects__container .project__container .project__description__3 .pd__techniques {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container .project__container .project__description__3 .pd__techniques .pd__techniqe {
  margin: auto 12px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__4__img {
  position: absolute;
  top: 12px;
  left: -24px;
  width: 570px;
  height: 320px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.projects__container .project__container .project__description__4 {
  width: 500px;
  height: 300px;
  background-color: #01142e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  position: absolute;
  right: -24px;
  top: 60px;
}

.projects__container .project__container .project__description__4 .pd__title {
  margin-left: 24px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.projects__container .project__container .project__description__4 .pd__description {
  margin: 24px;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.projects__container .project__container .project__description__4 .pd__icons {
  width: 60%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__container .project__container .project__description__4 .pd__icons .pd__icon {
  font-size: 24px;
  color: #ff3e55;
}

.projects__container .project__container .project__description__4 .pd__techniques {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__container .project__container .project__description__4 .pd__techniques .pd__techniqe {
  margin: auto 12px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #ffffff;
}

@media screen and (max-width: 999px) {
  .projects__container .projects__header {
    margin-bottom: 7vw;
  }
  .projects__container .project__container {
    width: 80%;
    height: 35vw;
    margin-bottom: 4vw;
    margin-bottom: 40px;
  }
  .projects__container .project__container .project__1__img {
    width: 57vw;
    height: auto;
    left: -2.4vw;
  }
  .projects__container .project__container .project__1__img .pr__image {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .projects__container .project__container .project__description__1 {
    width: 50vw;
    height: 30vw;
    right: -2.4vw;
    top: 6vw;
  }
  .projects__container .project__container .project__description__1 .pd__title {
    font-size: 2.3vw;
  }
  .projects__container .project__container .project__description__1 .pd__description {
    font-size: 1.6vw;
    margin: 2.4vw;
  }
  .projects__container .project__container .project__description__1 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__1 .pd__icons .pd__icon {
    font-size: 2.4vw;
  }
  .projects__container .project__container .project__description__1 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__1 .pd__techniques .pd__techniqe {
    font-size: 1.2vw;
  }
  .projects__container .project__container .project__2__img {
    width: 57vw;
    height: auto;
    left: -2.4vw;
  }
  .projects__container .project__container .project__description__2 {
    width: 50vw;
    height: 30vw;
    right: -2.4vw;
    top: 6vw;
  }
  .projects__container .project__container .project__description__2 .pd__title {
    font-size: 2.3vw;
  }
  .projects__container .project__container .project__description__2 .pd__description {
    font-size: 1.6vw;
    margin: 2.4vw;
  }
  .projects__container .project__container .project__description__2 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__2 .pd__icons .pd__icon {
    font-size: 2.4vw;
  }
  .projects__container .project__container .project__description__2 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__2 .pd__techniques .pd__techniqe {
    font-size: 1.2vw;
  }
  .projects__container .project__container .project__3__img {
    width: 57vw;
    height: auto;
    left: -2.4vw;
  }
  .projects__container .project__container .project__description__3 {
    width: 50vw;
    height: 30vw;
    right: -2.4vw;
    top: 6vw;
  }
  .projects__container .project__container .project__description__3 .pd__title {
    font-size: 2.3vw;
  }
  .projects__container .project__container .project__description__3 .pd__description {
    font-size: 1.6vw;
    margin: 2.4vw;
  }
  .projects__container .project__container .project__description__3 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__3 .pd__icons .pd__icon {
    font-size: 2.4vw;
  }
  .projects__container .project__container .project__description__3 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__3 .pd__techniques .pd__techniqe {
    font-size: 1.2vw;
  }
  .projects__container .project__container .project__4__img {
    width: 57vw;
    height: auto;
    left: -2.4vw;
  }
  .projects__container .project__container .project__description__4 {
    width: 50vw;
    height: 30vw;
    right: -2.4vw;
    top: 6vw;
  }
  .projects__container .project__container .project__description__4 .pd__title {
    font-size: 2.3vw;
  }
  .projects__container .project__container .project__description__4 .pd__description {
    font-size: 1.6vw;
    margin: 2.4vw;
  }
  .projects__container .project__container .project__description__4 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__4 .pd__icons .pd__icon {
    font-size: 2.4vw;
  }
  .projects__container .project__container .project__description__4 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__4 .pd__techniques .pd__techniqe {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 500px) {
  .projects__container .project__container {
    margin-bottom: 40px;
    height: 160px;
  }
  .projects__container .project__container .project__1__img {
    width: 65vw;
    height: auto;
  }
  .projects__container .project__container .project__description__1 {
    width: 65vw;
    height: 160px;
  }
  .projects__container .project__container .project__description__1 .pd__title {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__1 .pd__description {
    font-size: 10px;
  }
  .projects__container .project__container .project__description__1 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__1 .pd__icons .pd__icon {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__1 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__1 .pd__techniques .pd__techniqe {
    font-size: 8px;
  }
  .projects__container .project__container .project__2__img {
    width: 65vw;
    height: auto;
  }
  .projects__container .project__container .project__description__2 {
    width: 65vw;
    height: 160px;
  }
  .projects__container .project__container .project__description__2 .pd__title {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__2 .pd__description {
    font-size: 10px;
  }
  .projects__container .project__container .project__description__2 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__2 .pd__icons .pd__icon {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__2 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__2 .pd__techniques .pd__techniqe {
    font-size: 8px;
  }
  .projects__container .project__container .project__3__img {
    width: 65vw;
    height: auto;
  }
  .projects__container .project__container .project__description__3 {
    width: 65vw;
    height: 160px;
  }
  .projects__container .project__container .project__description__3 .pd__title {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__3 .pd__description {
    font-size: 10px;
  }
  .projects__container .project__container .project__description__3 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__3 .pd__icons .pd__icon {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__3 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__3 .pd__techniques .pd__techniqe {
    font-size: 8px;
  }
  .projects__container .project__container .project__4__img {
    width: 65vw;
    height: auto;
  }
  .projects__container .project__container .project__description__4 {
    width: 65vw;
    height: 160px;
  }
  .projects__container .project__container .project__description__4 .pd__title {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__4 .pd__description {
    font-size: 10px;
  }
  .projects__container .project__container .project__description__4 .pd__icons {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__4 .pd__icons .pd__icon {
    font-size: 12px;
  }
  .projects__container .project__container .project__description__4 .pd__techniques {
    margin-top: 4vw;
  }
  .projects__container .project__container .project__description__4 .pd__techniques .pd__techniqe {
    font-size: 8px;
  }
}
/*# sourceMappingURL=projects.styles.css.map */