$color1: #01142e;
$color2: #db0b7d;
$color3: #a4db00;
$color4: #250bdb;
$color5: #8f0e55;
$background: #021d44;
$detailColor: #ff3e55;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.projects__container {
  background-color: $background;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 20rem;

  .projects__header {
    display: flex;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 70px;
    // padding: 0 5vw;

    .ph__title {
      font-family: "Lato", sans-serif;
      color: #ffffff;
      // font-size: clamp(30px, 8vw, 40px);
      font-size: 5vw;
      letter-spacing: 0.4vw;
      margin: auto;
    }
  }
  .project__container {
    display: flex;
    width: 750px;
    height: 350px;
    border: 1px solid #ff3e55;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    font-family: "Lato", sans-serif;
    .project__1__img {
      position: absolute;
      top: 12px;
      left: -24px;
      width: 570px;
      height: 320px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      display: flex;
      align-items: center;
      cursor: pointer;

      .pr__image {
        height: 100%;
      }
    }
    .project__description__1 {
      width: 500px;
      height: 300px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      position: absolute;
      right: -24px;
      top: 60px;

      .pd__title {
        margin-left: 24px;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: #ffffff;
      }
      .pd__description {
        margin: 24px;
        font-size: 16px;
        letter-spacing: 1.2px;
        color: #ffffff;
      }
      .pd__icons {
        width: 60%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .pd__icon {
          font-size: 24px;
          color: $detailColor;
        }
      }

      .pd__techniques {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: center;

        .pd__techniqe {
          margin: auto 12px;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.5px;
          color: #ffffff;
        }
      }
    }
    .project__2__img {
      position: absolute;
      top: 12px;
      left: -24px;
      width: 570px;
      height: 320px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .project__description__2 {
      width: 500px;
      height: 300px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      position: absolute;
      right: -24px;
      top: 60px;

      .pd__title {
        margin-left: 24px;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: #ffffff;
      }
      .pd__description {
        margin: 24px;
        font-size: 16px;
        letter-spacing: 1.2px;
        color: #ffffff;
      }
      .pd__icons {
        width: 60%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .pd__icon {
          font-size: 24px;
          color: $detailColor;
        }
      }

      .pd__techniques {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: center;

        .pd__techniqe {
          margin: auto 12px;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.5px;
          color: #ffffff;
        }
      }
    }
    .project__3__img {
      position: absolute;
      top: 12px;
      left: -24px;
      width: 570px;
      height: 320px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .project__description__3 {
      width: 500px;
      height: 300px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      position: absolute;
      right: -24px;
      top: 60px;

      .pd__title {
        margin-left: 24px;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: #ffffff;
      }
      .pd__description {
        margin: 24px;
        font-size: 16px;
        letter-spacing: 1.2px;
        color: #ffffff;
      }
      .pd__icons {
        width: 60%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .pd__icon {
          font-size: 24px;
          color: $detailColor;
        }
      }

      .pd__techniques {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: center;

        .pd__techniqe {
          margin: auto 12px;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.5px;
          color: #ffffff;
        }
      }
    }
    .project__4__img {
      position: absolute;
      top: 12px;
      left: -24px;
      width: 570px;
      height: 320px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .project__description__4 {
      width: 500px;
      height: 300px;
      background-color: $color1;
      box-shadow: 5px 5px 15px 5px #000000;
      position: absolute;
      right: -24px;
      top: 60px;

      .pd__title {
        margin-left: 24px;
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: #ffffff;
      }
      .pd__description {
        margin: 24px;
        font-size: 16px;
        letter-spacing: 1.2px;
        color: #ffffff;
      }
      .pd__icons {
        width: 60%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .pd__icon {
          font-size: 24px;
          color: $detailColor;
        }
      }

      .pd__techniques {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: center;

        .pd__techniqe {
          margin: auto 12px;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.5px;
          color: #ffffff;
        }
      }
    }
  }
}
@media screen and (max-width: 999px) {
  .projects__container {
    .projects__header {
      margin-bottom: 7vw;
    }
    .project__container {
      width: 80%;
      height: 35vw;
      margin-bottom: 4vw;
      margin-bottom: 40px;

      .project__1__img {
        width: 57vw;
        height: auto;
        left: -2.4vw;
        .pr__image {
          height: max-content;
        }
      }

      .project__description__1 {
        width: 50vw;
        height: 30vw;
        right: -2.4vw;
        top: 6vw;

        .pd__title {
          font-size: 2.3vw;
        }
        .pd__description {
          font-size: 1.6vw;
          margin: 2.4vw;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 2.4vw;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 1.2vw;
          }
        }
      }
      .project__2__img {
        width: 57vw;
        height: auto;
        left: -2.4vw;
      }

      .project__description__2 {
        width: 50vw;
        height: 30vw;
        right: -2.4vw;
        top: 6vw;

        .pd__title {
          font-size: 2.3vw;
        }
        .pd__description {
          font-size: 1.6vw;
          margin: 2.4vw;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 2.4vw;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 1.2vw;
          }
        }
      }
      .project__3__img {
        width: 57vw;
        height: auto;
        left: -2.4vw;
      }

      .project__description__3 {
        width: 50vw;
        height: 30vw;
        right: -2.4vw;
        top: 6vw;

        .pd__title {
          font-size: 2.3vw;
        }
        .pd__description {
          font-size: 1.6vw;
          margin: 2.4vw;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 2.4vw;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 1.2vw;
          }
        }
      }
      .project__4__img {
        width: 57vw;
        height: auto;
        left: -2.4vw;
      }

      .project__description__4 {
        width: 50vw;
        height: 30vw;
        right: -2.4vw;
        top: 6vw;

        .pd__title {
          font-size: 2.3vw;
        }
        .pd__description {
          font-size: 1.6vw;
          margin: 2.4vw;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 2.4vw;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 1.2vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .projects__container {
    .project__container {
      margin-bottom: 40px;
      height: 160px;
      .project__1__img {
        width: 65vw;
        height: auto;
      }
      .project__description__1 {
        width: 65vw;
        height: 160px;

        .pd__title {
          font-size: 12px;
        }
        .pd__description {
          font-size: 10px;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 12px;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 8px;
          }
        }
      }
      .project__2__img {
        width: 65vw;
        height: auto;
      }
      .project__description__2 {
        width: 65vw;
        height: 160px;

        .pd__title {
          font-size: 12px;
        }
        .pd__description {
          font-size: 10px;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 12px;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 8px;
          }
        }
      }
      .project__3__img {
        width: 65vw;
        height: auto;
      }
      .project__description__3 {
        width: 65vw;
        height: 160px;

        .pd__title {
          font-size: 12px;
        }
        .pd__description {
          font-size: 10px;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 12px;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 8px;
          }
        }
      }
      .project__4__img {
        width: 65vw;
        height: auto;
      }
      .project__description__4 {
        width: 65vw;
        height: 160px;

        .pd__title {
          font-size: 12px;
        }
        .pd__description {
          font-size: 10px;
        }
        .pd__icons {
          margin-top: 4vw;
          .pd__icon {
            font-size: 12px;
          }
        }
        .pd__techniques {
          margin-top: 4vw;
          .pd__techniqe {
            font-size: 8px;
          }
        }
      }
    }
  }
}
