$color1: #01142e;
$color2: #db0b7d;
$color3: #a4db00;
$color4: #250bdb;
$color5: #8f0e55;
$background: #021d44;
$detailColor: #ff3e55;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.projects__container {
  background-color: $background;
  width: 100%;
  min-height: 100vh;

  .projects__header {
    display: flex;
    margin: auto;
    margin-top: 10%;
    padding: 0 5vw;

    .ph__title {
      font-family: "Lato", sans-serif;
      color: #ffffff;
      font-size: clamp(30px, 8vw, 80px);
      letter-spacing: 0.4vw;
    }
  }
}
