* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;

  @media screen and (max-width: 1000px) {
    font-size: 4px;
  }
}
.layout__container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
